#loader {
  position: fixed;
  z-index: 9999;
  background: #1E0B10;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.5s ease-in;
}

.film-strip {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF8DC;
  font-family: 'Staatliches', sans-serif;
}

.reel {
  width: 300px;
  height: 50px;
  background-image: linear-gradient(to right, #FFF8DC 10px, transparent 10px, transparent 30px, #FFF8DC 30px),
  repeating-linear-gradient(to right, transparent, transparent 20px, #1E0B10 20px, #1E0B10 30px);
  background-size: 40px 100%;
  background-repeat: repeat-x;
  animation: moveStrip 1s linear infinite;
  border: 3px solid #FFF8DC;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.loader-text {
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #FFF8DC;
}

/* ANIMATIONS */

@keyframes moveStrip {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
      opacity: 1;
    }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  } to {
      opacity: 0;
    }
}

.fade-out {
  animation: fadeOut 0.5s ease forwards;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease 0.5s forwards;
}
