<div class="h-100">
    <div id="myCarousel" class="carousel slide mb-6 border" data-bs-ride="carousel" height="100%">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
            <div class="container">
              <div class="carousel-caption text-start">
                <h1>Quoi que je regarde ?</h1>
                <p class="opacity-75">Viens, je te vais te proposer un film que tu ne connais pas en fonction de tes gouts et je vais même te dire ou tu peux le regarder si tu as de la chance</p>
                <p><a class="btn btn-lg btn-primary" href="{{ path('movie_proposal') }}">Propose un film</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
            <div class="container">
              <div class="carousel-caption">
                <h1>Quoi que je lis</h1>
                <p>Viens, je te vais te proposer un livre que tu ne connais pas en fonction de tes gouts et je vais même te dire, par contre tu te débrouille pour acheter chez un libraire</p>
                <p><a class="btn btn-lg btn-primary" href="#">Propose un livre</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
            <div class="container">
              <div class="carousel-caption text-end">
                <h1>Quoi que j'ecoute</h1>
                <p>pas convaincu encore de l'utilité du truc, on verra !</p>
                <p><a class="btn btn-lg btn-primary" href="#">Propose de la musique</a></p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="container">
        {{ api_content.page }}
      </div>
</div>