<div id="loader">
    <div class="film-strip">
        <div class="reel"></div>
        <p class="loader-text">Chargement du film...</p>
    </div>
</div>

<div id="content" class="fade-in">
    {% block body %}{% endblock %}
</div>
