{% extends 'base.html.twig' %}

{% block title %}Liste des Films{% endblock %}
{% block body %}
    <h1 class="my-4">Liste des Films</h1>
    <ul class="list-group">
        {% for movie in movies %}
            <li class="list-group-item">
                <strong>{{ movie.title }}</strong> - Sortie le {{ movie.releaseDate|date('d/m/Y') }}
            </li>
        {% else %}
            <li class="list-group-item">Aucun film disponible.</li>
        {% endfor %}
    </ul>
{% endblock %}