@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Nothing+You+Could+Do&family=Staatliches&family=Raleway&display=swap');

body {
  // background-image: url('/public/images/background.png');
  // background-size: cover;
  // background: linear-gradient(180deg, rgba(52, 17, 27, 0.00) 62.79%, #1E0B10 99.12%), url('/public/images/background.png') lightgray 50% / contain no-repeat;
  background: 
    linear-gradient(180deg, rgba(52, 17, 27, 0.00) 20%, #1E0B10 100%), 
    url('/public/images/background.png') lightgray 50% / cover no-repeat;
  background-position: center; /* Centre l'image */
  background-attachment: fixed; /* Optionnel : pour un effet de parallaxe */
}

nav {
  display: flex;
  flex-direction: column; /* Garder les liens en colonne */
  align-items: center;    /* Centre horizontalement les liens */
  justify-content: center; /* Centre verticalement les liens dans la navbar */
  height: 49px;
  max-width: 1023px;
  padding: 12px;
  margin: 0 auto; /* Centre horizontalement le `nav` dans la page */
  margin-bottom: 1.5rem;
}

.home-link {
  color: var(--Colors-Secondary-base, #FFF8DC);
  text-align: center;
  font-family: Staatliches, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none; /* Supprime le soulignement */
  margin: 5px 0; /* Ajoute un peu d'espace entre chaque lien */
}

.home-link.active {
  color: var(--Colors-Black-weak, #222);
  font-weight: bold; /* Vous pouvez ajouter un effet visuel distinct */
}

.home-link:hover {
  color: var(--Colors-Black-weak, #222);
}


.text-container {
  position:relative; 
  text-align: center; /* Centre le texte horizontalement */
  // height: 100vh; /* Prend toute la hauteur de l'écran */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centre verticalement */
  align-items: center;
  color: var(--Colors-Secondary-base, #FFF8DC); /* Couleur du texte */
  pointer-events: none; /* Désactive les interactions sur la zone du conteneur */
  max-width: fit-content; /* Adapte le conteneur à la largeur du texte */
  margin: 0 auto; /* Centre horizontalement */
  user-select: none; /* Désactive la sélection du texte */
}

.amarante {
  font-family: 'Amarante', cursive;
  font-size: 15rem; /* Taille du texte */
  line-height: 1.5; /* Espacement entre les lignes */
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 78%; /* 273px */
  letter-spacing: -20px;
}

.overlay {
  position: absolute;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 7rem;
  color: var(--Colors-Tertiary-base, #5B9EC7);
  top: 50%; /* Positionne le texte superposé */
  transform: translateY(-50%); /* Ajuste pour centrer */
  pointer-events: none; /* Empêche l'interaction avec le texte superposé */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -10px;
}

#para-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  flex: 1 0 0;
}

.para-container-small {
  color: var(--Colors-Secondary-base, #FFF8DC);
  /* L/medium */
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.button-cont {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}

.a-left-risk {
  display: inline-block;
  padding: 7px 35px;
  text-align: center;
  border-radius: 51px;
  background: var(--Colors-Black-weak, #222);
  text-decoration: none; /* Supprime le soulignement */
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: var(--Colors-White-base, #FFF);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.a-right-mood {
  // display: inline-block;
  // text-align: center;
  border-radius: 51px;
  border: 1px solid var(--Colors-Black-weak, #222);
  background: var(--Colors-White-base, #FFF);
  color: var(--Colors-Black-weak, #222);
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-flex;
  padding: 7px 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.a-left-risk:hover {
  background: var(--Colors-Black-base, #828282);
  color: var(--Colors-White-base, #FFF);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.a-left-risk:focus {
  background: var(--Colors-Black-strong, #020202);
  color: var(--Colors-White-base, #FFF);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.a-right-mood:hover {  
  background: var(--Colors-Black-weaker, #CFCFCF);
  color: var(--Colors-Black-weak, #222);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.a-right-mood:focus {
  background: var(--Colors-White-base, #FFF);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  color: var(--Colors-Black-weak, #222);
}

// header
.form-control-dark {
border-color: var(--bs-gray);
}
.form-control-dark:focus {
border-color: #fff;
box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
font-size: 85%;
}

.dropdown-toggle:not(:focus) {
outline: 0;
}

//sign in
.form-signin {
    max-width: 330px;
    padding: 1rem;
  }
  
.form-signin .form-floating:focus-within {
z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }

  .img-container {
    height: 350px; /* Ajustez la hauteur selon vos besoins */
    overflow: hidden;
    position: relative;
}

.img-container img {
    object-fit: cover;
    height: 110%; /* Commence avec une taille plus grande que le conteneur */
    width: 110%;  /* Commence avec une largeur plus grande que le conteneur */
    transition: transform 0.3s ease; /* Animation de l'effet */
    transform: scale(1.1); /* Image agrandie au départ */
}

.img-container:hover img {
    transform: scale(1); /* Retour à la taille normale sur le hover */
}