$primary:#ff8522;
$secondary:#2ecc71;
$third:#8e44ad;

@import "~bootstrap/scss/bootstrap";

body {
  // width: 100%;
  // height: 100%vh;
  // background-position: center;
  background: linear-gradient(180deg,
   rgba(52, 17, 27, 0.00) 62.79%,
   #1E0B10 99.12%),
    url('/public/images/background.png') lightgray 50% / cover no-repeat;
}

// header
.form-control-dark {
border-color: var(--bs-gray);
}
.form-control-dark:focus {
border-color: #fff;
box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
font-size: 85%;
}

.dropdown-toggle:not(:focus) {
outline: 0;
}

//sign in
.form-signin {
    max-width: 330px;
    padding: 1rem;
  }
  
.form-signin .form-floating:focus-within {
z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }

  .img-container {
    height: 350px; /* Ajustez la hauteur selon vos besoins */
    overflow: hidden;
    position: relative;
}

.img-container img {
    object-fit: cover;
    height: 110%; /* Commence avec une taille plus grande que le conteneur */
    width: 110%;  /* Commence avec une largeur plus grande que le conteneur */
    transition: transform 0.3s ease; /* Animation de l'effet */
    transform: scale(1.1); /* Image agrandie au départ */
}

.img-container:hover img {
    transform: scale(1); /* Retour à la taille normale sur le hover */
}